In [474]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [475]:
dataset = pd.read_excel('../data/boxScores.xlsx')
dataset.head()

,PLAYER,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,...,STL,BLK,TOV,PF,+/-,FP,Last3_FP_Avg,Last5_FP_Avg,Last7_FP_Avg,Season_FP_Avg
0,A.J. Lawson,TOR,TOR @ NYK,2024-12-23,L,4,3,1,1,100,...,0,0,0,0,5,3.0,3.000000,3.000000,3.000000,5.70
1,A.J. Lawson,TOR,TOR @ MEM,2024-12-26,L,5,6,2,3,66.7,...,0,0,0,0,-4,8.4,5.700000,5.700000,5.700000,5.70
2,AJ Green,MIL,MIL @ PHI,2024-10-23,W,4,0,0,0,-,...,1,0,0,0,4,4.5,4.500000,4.500000,4.500000,13.85
3,AJ Green,MIL,MIL vs. CHI,2024-10-25,L,11,9,3,4,75.0,...,0,0,0,1,-6,11.7,8.100000,8.100000,8.100000,13.85
4,AJ Green,MIL,MIL @ BKN,2024-10-27,L,13,5,1,4,25.0,...,0,0,1,0,-3,5.5,7.233333,7.233333,7.233333,13.85

In [476]:
dataset['AveDiff'] = abs(dataset['FP'] - dataset['Season_FP_Avg'])

In [477]:
dataset.head()

,PLAYER,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,...,BLK,TOV,PF,+/-,FP,Last3_FP_Avg,Last5_FP_Avg,Last7_FP_Avg,Season_FP_Avg,AveDiff
0,A.J. Lawson,TOR,TOR @ NYK,2024-12-23,L,4,3,1,1,100,...,0,0,0,5,3.0,3.000000,3.000000,3.000000,5.70,2.70
1,A.J. Lawson,TOR,TOR @ MEM,2024-12-26,L,5,6,2,3,66.7,...,0,0,0,-4,8.4,5.700000,5.700000,5.700000,5.70,2.70
2,AJ Green,MIL,MIL @ PHI,2024-10-23,W,4,0,0,0,-,...,0,0,0,4,4.5,4.500000,4.500000,4.500000,13.85,9.35
3,AJ Green,MIL,MIL vs. CHI,2024-10-25,L,11,9,3,4,75.0,...,0,0,1,-6,11.7,8.100000,8.100000,8.100000,13.85,2.15
4,AJ Green,MIL,MIL @ BKN,2024-10-27,L,13,5,1,4,25.0,...,0,1,0,-3,5.5,7.233333,7.233333,7.233333,13.85,8.35

In [478]:
clusterdf = pd.read_excel('../data/clusteredPlayers.xlsx')

In [479]:
clusterdf = clusterdf.drop('Unnamed: 0', axis=1)
clusterdf.head()

               Player  Cluster
0       Anthony Black        5
1  Bennedict Mathurin       10
2        Clint Capela       12
3        De'Aaron Fox       11
4        Jake LaRavia       10

In [480]:
clusterDict = {}

In [481]:
clusterDict.update(pd.Series(clusterdf['Cluster'].values, index=clusterdf['Player']).to_dict())

In [482]:
dataset['CLUSTER'] = dataset['PLAYER'].map(clusterDict)

In [483]:
dataset.head()

,PLAYER,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,...,TOV,PF,+/-,FP,Last3_FP_Avg,Last5_FP_Avg,Last7_FP_Avg,Season_FP_Avg,AveDiff,CLUSTER
0,A.J. Lawson,TOR,TOR @ NYK,2024-12-23,L,4,3,1,1,100,...,0,0,5,3.0,3.000000,3.000000,3.000000,5.70,2.70,NaN
1,A.J. Lawson,TOR,TOR @ MEM,2024-12-26,L,5,6,2,3,66.7,...,0,0,-4,8.4,5.700000,5.700000,5.700000,5.70,2.70,NaN
2,AJ Green,MIL,MIL @ PHI,2024-10-23,W,4,0,0,0,-,...,0,0,4,4.5,4.500000,4.500000,4.500000,13.85,9.35,1.0
3,AJ Green,MIL,MIL vs. CHI,2024-10-25,L,11,9,3,4,75.0,...,0,1,-6,11.7,8.100000,8.100000,8.100000,13.85,2.15,1.0
4,AJ Green,MIL,MIL @ BKN,2024-10-27,L,13,5,1,4,25.0,...,1,0,-3,5.5,7.233333,7.233333,7.233333,13.85,8.35,1.0

In [484]:
dataset['CLUSTER'] = dataset['CLUSTER'].replace(clusterDict)
dataset.sort_values(by=['GAME DATE'], ascending = [True], inplace=True)
dataset.head(5)

,PLAYER,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,...,TOV,PF,+/-,FP,Last3_FP_Avg,Last5_FP_Avg,Last7_FP_Avg,Season_FP_Avg,AveDiff,CLUSTER
3925,Jalen Brunson,NYK,NYK @ BOS,2024-10-22,L,25,22,9,14,64.3,...,4,3,-23,22.2,22.2,22.2,22.2,39.543333,17.343333,14.0
612,Ariel Hukporti,NYK,NYK @ BOS,2024-10-22,L,6,0,0,0,-,...,0,0,9,7.8,7.8,7.8,7.8,5.950000,1.850000,15.0
7067,Naz Reid,MIN,MIN @ LAL,2024-10-22,L,26,12,3,8,37.5,...,1,3,-6,17.3,17.3,17.3,17.3,23.872414,6.572414,10.0
6811,Mike Conley,MIN,MIN @ LAL,2024-10-22,L,20,5,1,7,14.3,...,3,1,-22,12.8,12.8,12.8,12.8,22.548000,9.748000,3.0
7096,Neemias Queta,BOS,BOS vs. NYK,2024-10-22,W,4,0,0,0,-,...,0,1,0,0.0,0.0,0.0,0.0,14.879167,14.879167,12.0

In [485]:
# dataset.info()
len(dataset)

9665

In [486]:
# Remove players without a cluster
dataset = dataset.dropna(subset=['CLUSTER'])
dataset.info()
len(dataset)

<class 'pandas.core.frame.DataFrame'>
Index: 9112 entries, 3925 to 8799
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PLAYER         9112 non-null   object
 1   TEAM           9112 non-null   object
 2   MATCH UP       9112 non-null   object
 3   GAME DATE      9112 non-null   datetime64[ns]
 4   W/L            9112 non-null   object
 5   MIN            9112 non-null   int64
 6   PTS            9112 non-null   int64
 7   FGM            9112 non-null   int64
 8   FGA            9112 non-null   int64
 9   FG%            9112 non-null   object
 10  3PM            9112 non-null   int64
 11  3PA            9112 non-null   int64
 12  3P%            9112 non-null   object
 13  FTM            9112 non-null   int64
 14  FTA            9112 non-null   int64
 15  FT%            9112 non-null   object
 16  OREB           9112 non-null   int64
 17  DREB           9112 non-null   int64
 18  REB            9112 non-null   int64
 19  AST            9112 non-null   int64
 20  STL            9112 non-null   int64
 21  BLK            9112 non-null   int64
 22  TOV            9112 non-null   int64
 23  PF             9112 non-null   int64
 24  +/-            9112 non-null   int64
 25  FP             9112 non-null   float64
 26  Last3_FP_Avg   9112 non-null   float64
 27  Last5_FP_Avg   9112 non-null   float64
 28  Last7_FP_Avg   9112 non-null   float64
 29  Season_FP_Avg  9112 non-null   float64
 30  AveDiff        9112 non-null   float64
 31  CLUSTER        9112 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(17), object(7)
memory usage: 2.3+ MB

9112

In [487]:
cluster0 = dataset[dataset['CLUSTER'] == 0]
cluster1 = dataset[dataset['CLUSTER'] == 1]
cluster2 = dataset[dataset['CLUSTER'] == 2] 
cluster3 = dataset[dataset['CLUSTER'] == 3]
cluster4 = dataset[dataset['CLUSTER'] == 4]
cluster5 = dataset[dataset['CLUSTER'] == 5]
cluster6 = dataset[dataset['CLUSTER'] == 6]
cluster7 = dataset[dataset['CLUSTER'] == 7]
cluster8 = dataset[dataset['CLUSTER'] == 8]
cluster9 = dataset[dataset['CLUSTER'] == 9]
cluster10 = dataset[dataset['CLUSTER'] == 10]
cluster11 = dataset[dataset['CLUSTER'] == 11]
cluster12 = dataset[dataset['CLUSTER'] == 12]
cluster13 = dataset[dataset['CLUSTER'] == 13]
cluster14 = dataset[dataset['CLUSTER'] == 14]

In [488]:
cluster3.describe()
# cluster0.head(150)

,GAME DATE,MIN,PTS,FGM,FGA,3PM,3PA,FTM,FTA,OREB,...,TOV,PF,+/-,FP,Last3_FP_Avg,Last5_FP_Avg,Last7_FP_Avg,Season_FP_Avg,AveDiff,CLUSTER
count,265,265.000000,265.000000,265.000000,265.000000,265.000000,265.00000,265.000000,265.000000,265.000000,...,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.000000,265.0
mean,2024-11-21 19:22:52.075471616,13.520755,4.384906,1.505660,3.871698,0.841509,2.34717,0.532075,0.683019,0.328302,...,0.516981,1.022642,0.705660,11.562642,11.454340,11.452824,11.486795,11.562642,5.380672,3.0
min,2024-10-22 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-22.000000,-1.000000,-1.000000,-1.000000,-1.000000,2.425000,0.025000,3.0
25%,2024-11-06 00:00:00,5.000000,0.000000,0.000000,2.000000,0.000000,1.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-5.000000,4.400000,5.133333,5.520000,5.400000,4.705882,1.925000,3.0
50%,2024-11-20 00:00:00,13.000000,3.000000,1.000000,3.000000,0.000000,2.00000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,9.900000,10.266667,10.280000,11.000000,11.195833,4.454545,3.0
75%,2024-12-06 00:00:00,19.000000,7.000000,2.000000,6.000000,1.000000,4.00000,0.000000,1.000000,1.000000,...,1.000000,2.000000,6.000000,17.500000,17.200000,16.760000,16.950000,14.996000,8.579167,3.0
max,2024-12-26 00:00:00,37.000000,19.000000,7.000000,12.000000,5.000000,9.00000,5.000000,8.000000,3.000000,...,4.000000,5.000000,21.000000,44.300000,29.533333,27.100000,26.800000,22.548000,21.752000,3.0
std,NaN,8.219096,4.061432,1.398378,2.848204,1.046899,2.07443,1.141466,1.380840,0.610631,...,0.793376,1.114410,7.947518,8.999078,7.263213,6.929200,6.792465,5.817766,4.251554,0.0

In [489]:
dfFeatures = cluster0[['Last3_FP_Avg', 'Last5_FP_Avg', 'Last7_FP_Avg', 'Season_FP_Avg']]
dfLabels = cluster0['FP']

In [490]:
labels = np.array(dfLabels)
features = np.array(dfFeatures)

In [491]:
train, test, train_labels, test_labels = train_test_split(features, labels, test_size=0.25, random_state=30)

In [492]:
reg = RandomForestRegressor(
    random_state=30,
)
reg.fit(train, train_labels)

RandomForestRegressor(random_state=30)

In [493]:
train_predictions = reg.predict(train)
predictions = reg.predict(test)

In [494]:
df0 = pd.DataFrame(test, columns = ['Last3_FP_Avg', 'Last5_FP_Avg', 'Last7_FP_Avg', 'Season_FP_Avg'])
df0['Actual'] = test_labels
df0['Predicted'] = predictions
df0['Error'] = abs(df0['Actual'] - df0['Predicted'])

In [495]:
df0.describe()
# df0.head()

,Last3_FP_Avg,Last5_FP_Avg,Last7_FP_Avg,Season_FP_Avg,Actual,Predicted,Error
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,38.083120,37.941068,37.815269,37.876254,38.557692,38.626064,8.454833
std,10.988374,10.157366,9.862450,9.005663,14.745777,11.282211,6.365739
min,14.200000,19.020000,19.250000,24.628000,9.600000,14.804000,0.008000
25%,30.716667,30.890000,30.707143,30.634483,28.900000,31.321500,3.305000
50%,37.000000,36.920000,36.578571,37.336667,37.550000,37.437000,6.832000
75%,44.741667,44.155000,43.182143,43.023333,48.175000,44.073500,12.782750
max,72.233333,72.200000,69.142857,63.260000,78.100000,69.891000,32.482000

Fantasy Points Per Minute may be better than the raw Fantasy Points.  This is because players who play more minutes are more likely to score more Fantasy Points.  This is a way to normalize the data.

In [496]:
dfgood = df0[(df0['Error']<5)]
dfgood.describe()

,Last3_FP_Avg,Last5_FP_Avg,Last7_FP_Avg,Season_FP_Avg,Actual,Predicted,Error
count,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000
mean,36.281515,37.343697,37.267688,37.211775,37.129091,36.927182,2.289036
std,11.758059,10.980899,11.185271,9.822249,11.532573,11.851096,1.454849
min,14.466667,19.020000,19.250000,24.628000,16.100000,15.559000,0.008000
25%,28.200000,30.940000,29.342857,30.634483,30.100000,30.687500,1.112500
50%,35.100000,36.800000,35.371429,37.336667,36.200000,36.024000,2.203000
75%,39.100000,41.730000,41.500000,40.110714,41.900000,42.162500,3.454000
max,72.233333,72.200000,69.142857,63.260000,65.400000,69.891000,4.784000

In [497]:
# Identfy unique list of cluster to loop over
clusterdf.head()

               Player  Cluster
0       Anthony Black        5
1  Bennedict Mathurin       10
2        Clint Capela       12
3        De'Aaron Fox       11
4        Jake LaRavia       10

In [498]:
clusterList = clusterdf['Cluster'].tolist()

In [499]:
clusterList

[5,
 10,
 12,
 11,
 10,
 13,
 10,
 4,
 8,
 1,
 6,
 10,
 4,
 10,
 10,
 14,
 6,
 0,
 7,
 6,
 7,
 14,
 10,
 1,
 2,
 1,
 1,
 10,
 0,
 10,
 14,
 11,
 11,
 0,
 9,
 1,
 1,
 10,
 8,
 10,
 13,
 1,
 0,
 10,
 13,
 14,
 5,
 6,
 12,
 8,
 8,
 1,
 0,
 11,
 10,
 1,
 10,
 8,
 2,
 5,
 2,
 12,
 14,
 2,
 14,
 11,
 1,
 10,
 10,
 0,
 11,
 6,
 11,
 10,
 6,
 10,
 11,
 8,
 1,
 4,
 6,
 10,
 10,
 8,
 1,
 0,
 11,
 1,
 2,
 1,
 10,
 14,
 5,
 14,
 1,
 8,
 0,
 0,
 10,
 2,
 2,
 13,
 14,
 4,
 10,
 10,
 0,
 0,
 14,
 7,
 13,
 2,
 12,
 13,
 1,
 6,
 6,
 0,
 6,
 6,
 0,
 10,
 6,
 11,
 12,
 10,
 15,
 6,
 1,
 5,
 2,
 14,
 1,
 12,
 10,
 11,
 2,
 11,
 10,
 14,
 1,
 1,
 12,
 1,
 12,
 5,
 13,
 11,
 15,
 10,
 2,
 6,
 1,
 5,
 12,
 14,
 1,
 2,
 2,
 14,
 14,
 10,
 6,
 1,
 0,
 0,
 13,
 2,
 14,
 1,
 2,
 1,
 5,
 9,
 6,
 10,
 14,
 5,
 12,
 11,
 11,
 1,
 2,
 3,
 3,
 14,
 10,
 0,
 0,
 10,
 1,
 5,
 10,
 0,
 15,
 12,
 3,
 8,
 11,
 5,
 7,
 4,
 6,
 12,
 14,
 3,
 1,
 12,
 0,
 10,
 14,
 7,
 13,
 1,
 15,
 2,
 6,
 6,
 6,
 6,
 11,
 9,
 15,
 12,
 7,
 1,
 1,
 4,
 2,
 6,
 10,
 12,
 4,
 1,
 2,
 6,
 0,
 4,
 14,
 3,
 1,
 1,
 5,
 14,
 5,
 0,
 11,
 1,
 11,
 2,
 11,
 13,
 1,
 0,
 5,
 9,
 3,
 5,
 13,
 6,
 4,
 1,
 6,
 8,
 4,
 15,
 9,
 10,
 15,
 5,
 14,
 4,
 15,
 5,
 13,
 3,
 2,
 9,
 15,
 1,
 1,
 11,
 8,
 11,
 13,
 1,
 7,
 8,
 4,
 5,
 13,
 7,
 2,
 2,
 8,
 4,
 4,
 4,
 2,
 4,
 5,
 9,
 11,
 11,
 6,
 5,
 9,
 10,
 14,
 1,
 2,
 6,
 3,
 1,
 4,
 0,
 13,
 6,
 9,
 7,
 8,
 15,
 9,
 4,
 4,
 15,
 13,
 15,
 4,
 1,
 6,
 6,
 1,
 7,
 1,
 15,
 15,
 2,
 6,
 13,
 13,
 12,
 4,
 5,
 8,
 13,
 8,
 1,
 2,
 8,
 3,
 0,
 7,
 8,
 5,
 13,
 9,
 4,
 15,
 1,
 5,
 3,
 6,
 7,
 2,
 8,
 3,
 2,
 4,
 15,
 5,
 4,
 2,
 3,
 3,
 3,
 3,
 15,
 7,
 9,
 4,
 12,
 2,
 6,
 13,
 7,
 7,
 9,
 9,
 4,
 5,
 4,
 12,
 4,
 9]

In [500]:
newClusterSet = set(clusterList)
newClusterSet

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [501]:
uniqueClusterList = list(set(clusterList))
uniqueClusterList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [502]:
ClusterError = 0
for cluster in uniqueClusterList:
    clusterdf = dataset[dataset['CLUSTER'] == cluster]
    dfFeatures = clusterdf[['Last3_FP_Avg', 'Last5_FP_Avg', 'Last7_FP_Avg', 'Season_FP_Avg']]
    dfLabels = clusterdf[['FP']]

    labels = np.array(dfLabels).ravel()
    features = np.array(dfFeatures)

    train, test, train_labels, test_labels = train_test_split(features, labels, test_size=0.25, random_state=30)

    reg = RandomForestRegressor(random_state=30)
    reg.fit(train, train_labels)

    train_predictions = reg.predict(train)
    predictions = reg.predict(test)

    df0 = pd.DataFrame(test, columns = ['Last3_FP_Avg', 'Last5_FP_Avg', 'Last7_FP_Avg', 'Season_FP_Avg'])
    df0['Actual'] = test_labels
    df0['Predicted'] = predictions
    df0['Error'] = abs(df0['Actual'] - df0['Predicted'])
    ClusterError += df0['Error'].mean()

    print(f"Cluster {cluster} average error is {df0['Error'].mean()}")
avgClusterError = ClusterError/len(uniqueClusterList)
print(f"Average error across clusters is: {avgClusterError}")

Cluster 0 average error is 8.454833333333333
Cluster 1 average error is 5.303047457627119
Cluster 2 average error is 7.309176136363636
Cluster 3 average error is 4.51689552238806
Cluster 4 average error is 4.462412213740458
Cluster 5 average error is 5.6047883211678835
Cluster 6 average error is 6.054168367346939
Cluster 7 average error is 6.030876712328767
Cluster 8 average error is 5.491018867924529
Cluster 9 average error is 4.028030303030303
Cluster 10 average error is 7.018509433962264
Cluster 11 average error is 7.920156862745099
Cluster 12 average error is 6.896743119266055
Cluster 13 average error is 6.288052631578948
Cluster 14 average error is 7.795582278481013
Cluster 15 average error is 4.714604938271605
Average error across clusters is: 6.118056031222251